.main {


    h2 {
        margin-top: 20px;
        margin-bottom: 40px;
        position: relative;
        font-weight: 600;
        color: white;
        font-size: 2em;

        &::after {
            content: '';
            width: 155px;
            height: 4px;
            background: #4db486;
            position: absolute;
            bottom: -10px;
            left: 0;
        }
    }

    section{
        width:100%;
        height: 100vh;
    }

    ul {
        margin-top: 20px;
        padding-left: 15px;
    }

    li {
        font-size: 1.1em;
        color: #4db486;
        & + li {
            margin-top: 20px;
        }
    }

    p {
        color: white;
        font-size: 1.3em;
        margin-top: 20px;
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    color:white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 200ms;

    nav {
        a {
            width: calc(100vw / 9);
            display: inline-block;
            font-size: 20px;
            text-align: right;
        }
    }
}

.headerFilled {
    background: #292929;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.logo{
    font: 400 36px/1 "Mattone";
        text-transform: uppercase;
}

.mottoWrapper {
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;

    &::before,
    &::after{
        content:'';
        position:fixed;
        top:0;
        width: 1px;
        height: 100vh;
        background: white;
        opacity: 0.2;
        pointer-events: none;
        z-index: 10;
    }
    &::before {
        left: 33%;
    }
    &::after {
        right: 33%;
    }
}

.motto {
    position: relative;
    margin-left: calc(33vw + 10px);
    color: white;
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1.3;
    text-transform: uppercase;

    &::after {
        content: '';
        width: 100%;
        height: 4px;
        background: #4db486;
        position: absolute;
        bottom: -15px;
        left: 0;
    }
}

.aboutWrapper {
    padding: 100px 50px;
    background: rgba(41, 41, 41, 0.8);
}

.sectionWrapper {
    padding: 100px 50px;
    background: rgb(41, 41, 41);

    &.sectionWrapperContacts {
        height: auto;
        padding-bottom: 300px;
    }
}

.videoWrapper {
    position: fixed;
    height: 100vh;
    z-index: -1;

    video {
        object-fit: cover;
        height: 100vh;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        background: #292929;
        opacity: 0.5;
    }
}

.footer {
    padding: 10px 50px;
    display: flex;
    background: #181818;

    .copyright {
        font-weight: 400;
        font-size: 1em;
        color: #396D54;
    }
}


.contactsLabelWrapper{
        //margin-top: 40px;

    & + .contactsLabelWrapper {
        margin-top: 42px;
    }
}

.contactsLabel {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #6c6c6c;
}

.contactsValue {
    color: #4db486;
}

.form {
    position: absolute;
    left: calc(33vw + 10px);
}

.field {
    margin-bottom: 20px;

    & + .field {
        margin-left: 10px;
    }
}

.rowWrapper{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.rowWrapper2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.input {
    width: calc((33vw - 20px) / 2);
    flex: 1;
    margin-top: 10px;
    display: block;
    outline: 0;
    border: 1px solid rgba(56, 56, 56, 0.53);
    padding: 10px 20px;
    background: rgba(56, 56, 56, 0.53);
    border-radius: 5px;
    font-size: 1.1em;
    color: white;

    &.textarea{
        width: 100%;
    }
}

.button {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    background: #4db486;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.buttonLink {
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    color: #4db486;
}

.green {
    color: #4db486;
}
